<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/coffee-svgrepo-com.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">COFFEE</a>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </div>
      </div>
    </div>

    <div class="form-inline my-2 my-lig-0">
      <div *ngIf="user.first_name.length > 0" class="mr-2">
        Welcome <b>{{ user.first_name }}</b>
      </div>

      <a *ngIf="user.first_name.length <= 0" class ="btn btn-outline-secondary my-2 my-sm-0 p-10" routerLink="/signin">SignIn</a>

      <a *ngIf="user.first_name.length > 0" class ="btn btn-outline-danger my-2 my-sm-0 p-10" (click)="signOut()" routerLink="/home">SignOut</a>
    </div>
  </nav>