<div style="width: 100vw; height: 100vh; background: #a4ac86; position:relative; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;overflow: hidden">
<div style="width: 40vw;height: auto; position: absolute; right: 300px; z-index: 1;">
    <img src="../../assets/images/land.png" >
</div>
<div style="color: black; font: size 20px; padding: 30px; background: white; border-radius: 10px; width: 60vw; margin: 50px; z-index: 1; ">
    <h1>Coffee</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#656d4a" d="M35.7,-59.8C46.9,-48.4,57,-39.5,66.5,-27.7C76.1,-15.9,85.1,-1.2,81.6,10.5C78,22.2,61.8,30.8,50.5,43.6C39.2,56.4,32.8,73.3,22.9,74.6C13,76,-0.5,61.7,-17.4,57.6C-34.4,53.4,-54.9,59.3,-67.9,53.6C-80.9,47.9,-86.5,30.6,-86.3,14.1C-86.1,-2.4,-80,-18.1,-71.8,-31.4C-63.5,-44.7,-53.1,-55.6,-40.8,-66.4C-28.5,-77.2,-14.2,-88,-1,-86.5C12.3,-84.9,24.6,-71.1,35.7,-59.8Z" transform="translate(100 100)" />
  </svg>
</div>